@import url('https://fonts.googleapis.com/css?family=Work+Sans:400|Lato:400|Inconsolata:400');

:root {
/* colors */
--green: #00ebc7;
--red: #FF5470;
--yellow: #fde24f;
--black: #1b2d45;
--darkBlue: #00214d;
--darkGrey: #222;
--grey: #bfbfbf;
--lightGrey: #f2f4f6;
--white: white;

/* color intentions */
--primary: var(--yellow);
--danger: var(--red);
--background: var(--white);
--textColor: var(--black);
--lineColor: var(--grey);
--cardBg: var(--white);
--headerBackground: var(--white);
--footerBackground: var(--green);
--footerTextColor: var(--black);
--headerTextColor: var(--black);
--buttonColor: var(--primary);
--buttonTextColor: var(--textColor);
--borderBottom: solid 2px var(--primary);



/* Styles */
--line: solid 1px var(--lineColor);

/* Typography */
--headingFont: 'Lato', monospace;
--bodyFont: 'Work Sans', sans-serif;
--baseFontSize: 100%;
/* font sizes */
--h1: 3.052em;
--h2: 2.441em;
--h3: 1.953em;
--h4: 1.563em;
--h5: 1.25em;
--smallText: 0.8em;

/* Elevation 1: base, 4: xl*/
--shadow-s: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
--shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

/* Positioning */
--containerPadding: 2.5%;
--headerHeight: 3rem;
/* --borderRadius: 10px; */
--borderRadius: 0px;
--height: height: calc(100vh - var(--headerHeight));

/* Media Queries (not supported yet) */
/* --xsmall: 340;
--small: 500px;
--med: 800;
--large: 960;
--wide: 1200; */

}

html {
    box-sizing: border-box;
    font-size: var(--baseFontSize);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background: var(--background);
  color: var(--textColor);
}

header {
    color: var(--headerTextColor);
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%; */
    margin-top: 1%;
    height: var(--headerHeight);
    background: var(--headerBackground);
    font-size: var(--h5);
    /* box-shadow: var(--shadow-md); */
    /* border-bottom: var(--line); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--containerPadding);
}

header nav a {
    color: var(--white);
    text-decoration: none;
}
/* a next to a */
header nav a + a {
    margin-left: 10px;
}

div.main {
    margin-top: 20px;
}

p {
    margin-bottom: 1rem;
    /* max-width: 40em; */
}

p a,
blockquote a {
    color: var(--textColor);
    text-decoration: none;
    border-bottom: var(--borderBottom);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

small, .text_small {font-size: var(--smallText);}

blockquote {
    /* border: solid 1px var(--darkBlue); */
    margin: 10px;
    padding: 2em;
    background: var(--cardBg);
    box-shadow: var(--shadow-lg);
}

label {
    display: block;
    font-size: var(--smallText);

}

input, textarea {
    padding: 2px 5px;
    border: var(--line);
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 5rem;

}

::placeholder {
    color: var(--grey);
}

::selection {
    background: #ffb7b7; /* Your highlight color */
    background: var(--red); /* Your highlight color */
    color: var(--white); /* Your color for the highlighted text */
  }

select {
    border: var(--line);
}

hr {
    border-top: var(--line);
}

button {
    appearance: none;
    color: var(--buttonTextColor);
    background-color: var(--white);
    border: var(--line);
    border-radius: var(--borderRadius);
    padding: 10px 25px;
    box-shadow: var(--shadow-s);
    transition: 0.3s ease-in-out box-shadow;
}

button:hover {
    cursor: pointer;
    box-shadow: var(--shadow-md);
}

button[disabled] {
    opacity: 0.4;
}
